@model ClothingStoreProject.Models.Clothes

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}

<h1>Product Details</h1>

<div>
    <hr />
</div>
<div class="row">
  <div class="col-md-3">
            <h1>
                @Html.DisplayFor(model => model.Title)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Category)
            </h2>
            @Html.DisplayFor(model => model.Price)
            MKD
            <hr />
            <div class="h-50 scrollbar" id="style-7">
                        @Html.DisplayFor(model => model.Description)
            </div>
            <dd class = "col-sm-10">
                Stock: 
            @Html.DisplayFor(model => model.Stock)
            @if (Model.Stock != 0)
            {
                <span class="checkmark">
                    <div class="checkmark_circle"></div>
                    <div class="checkmark_stem"></div>
                    <div class="checkmark_kick"></div>
                </span>
            }else{
                <span class="crossspan">
                    <div class="cross"></div>
                </span>
            }
        </dd>
  </div>
  <div class="col-md-8">
      <img class="img-fluid mx-0 align-self-auto d-block" style="width: 40%" src=@Html.DisplayFor(model => model.Image)>
  </div>
</div>
<div class="mt-1">
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Editor")){
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        }else if (User.IsInRole("Admin")){
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>    
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
